.loginForm{
  display: flex;
  flex-direction: column;
  margin: 200px 520px 200px 520px;
  gap: 20px;
  border: 2px solid black;
  padding: 20px;
  font-size: 20px;
  border-radius: 1%;
  
}
.userNameLabel{
  padding-left: 2px;
}

.userPasswordLabel{
  padding-left: 2px;
}

.userName{
  font-size: 20px;
  border: none;
  border-bottom: 2px solid black;
  padding: 2px 5px 2px 5px;
  border-radius: 2px;
}

.userName:focus{
  outline: none;
  border-color: #0891b2;
}
.userPassword {
  font-size: 20px;
  border: none;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
  padding: 2px 5px 2px 5px;
  border-radius: 2px;
}

.userPassword:focus{
  outline: none;
  border-color: #0891b2;
}

.submitButton{
  font-size: 20px;
  padding: 6px;
  margin: 0vw 5vw 0vw 5vw;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  border-color: #22d3ee;
  background-color: #22d3ee;
  color: white
}

.submitButton:hover{
  cursor: pointer;
  background-color: white;
  color:#22d3ee
}